body {
      color: #112D4E;
      text-align: center;
      font-family: Courier New;
      background-color: #DBE2EF;
      }
      h1 {
          color: #112D4E;
          text-align: center;
        }
      h2 {
          color: #112D4E;
          text-align: center;
        }
      hr {
          color: #3F72AF;
          border-style: dashed;
          height: 0px;
          width: 25%;
        }
      div {
      background-color: inherit;
      }

.title {
    height: 540px;
    margin: 350px auto;
}